$main-accent: #060b35;
$blue-accent: #00acdc;
$hovered: #34568b;
$secondary: #616070;
$white: #fff;
$border: #f3f3f3;
$card-width: 200px;
$logo-size: 40px;
$header-padding-horizontal: 50px;
$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
$star-size: 16px;
$star-margin: 4px;
